body { 
    font-family: 'Noto Sans TC', sans-serif;
}  
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { 
    font-family: 'Noto Serif TC', sans-serif;
 }
.button {
    padding: 300px 600px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; 
}

.button:hover {
    background-color: #b32400; 
}

